<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/active-game.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>active-game</title>
  </head>
  <body>
    <div id="root">
      <header>
        <% let time = Data.gameLength; let min = Math.floor(time/60); let sec =
        time%60; %>
        <p><%=Data.queueId_kr%></p>
        <p><%=min%>분<%=sec%>초</p>
      </header>
      <main>
        <% for(let i=0; i<5; i++) { %> <% let myData = Data.participants[i] %>
        <div class="user_left">
          <div>
            <img
              src="https://ddragon.leagueoflegends.com/cdn/12.18.1/img/champion/<%=myData.championId%>.png"
            />
          </div>
          <div>
            <img src="" />
          </div>
          <div>
            <img src="<%=myData.spell1Id_kr.img%>" />
            <img src="<%=myData.spell2Id_kr.img%>" />
          </div>
          <div></div>
        </div>
        <% } %> <% for(let i=5; i<10; i++) { %>
        <div class="user_right">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <% } %>
      </main>
    </div>
  </body>
</html>
