<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/active-game.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>active-game</title>
  </head>
  <body>
    <div id="root">
      <header>
        <% let time = Data.gameLength;%>
        <p><%=Data.queueId_kr%></p>
        <p id="time"><%=time%></p>
      </header>
      <main>
        <% for(let i=0; i<5; i++) { %> <% let myData = Data.participants[i]; let
        user = User[i];%>
        <div class="user_left">
          <div>
            <img src="<%=myData.championImg%>" />
          </div>
          <div>
            <img src="<%=myData.main_perk_kr.img%>" />
            <img src="<%=myData.sub_perk_kr.img%>" />
          </div>
          <div>
            <img src="<%=myData.spell1Id_kr.img%>" />
            <img src="<%=myData.spell2Id_kr.img%>" />
          </div>
          <div>
            <p style="font-size: 17px"><%=myData.summonerName%></p>
            <p><%=user.solo.tier%> <%=user.solo.rank%></p>
          </div>
        </div>
        <% } %> <% for(let i=5; i<10; i++) { %> <% let myData =
        Data.participants[i]; let user = User[i];%>
        <div class="user_right">
          <div>
            <p style="font-size: 17px"><%=myData.summonerName%></p>
            <p><%=user.solo.tier%> <%=user.solo.rank%></p>
          </div>
          <div>
            <img src="<%=myData.spell1Id_kr.img%>" />
            <img src="<%=myData.spell2Id_kr.img%>" />
          </div>
          <div>
            <img src="<%=myData.main_perk_kr.img%>" />
            <img src="<%=myData.sub_perk_kr.img%>" />
          </div>
          <div>
            <img src="<%=myData.championImg%>" />
          </div>
        </div>
        <% } %>
      </main>
    </div>
    <script>
      const time = document.getElementById("time");
      console.dir(time);
      let now = time.innerText;

      if (now < 0) {
        time.innerText = "loading..";
      } else {
        let min = Math.floor(now / 60);
        let sec = now % 60;
        let timeset = `${min}분 ${sec}초`;
        time.innerText = timeset;

        setInterval(() => {
          now++;
          let min = Math.floor(now / 60);
          let sec = now % 60;
          let timeset = `${min}분 ${sec}초`;
          time.innerText = timeset;
        }, 1000);
      }
    </script>
  </body>
</html>
