<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>main</title>
  </head>
  <body>
    <div id="root">
      <header>
        <div class="search_box">
          <form>
            <input type="text" placeholder="소환사명" id="name" />
            <input
            id="button"
            type="button"
            value="검색"
            onclick="document.location.href=getvalue()"
            />
          </form>
        </div>
        <div class="user_info">
          <%
          let Name = league[0].summonerName;
          let win = 0;
          let lose = 0;
          for(let i=0;i<league.length;i++){
            win += league[i].wins
            lose += league[i].losses 
          }
          let win_lose = Math.floor((win*1000)/(win+lose))/10;
          %>
          <div>
          <%=Name%><%=league[0].tier%>
          <%=league[0].rank%> <%=win%>승 <%=lose%>패
          <%=win_lose%>%
            <form action="./activegame">
              <input type="button">
            </form>
          </div>
          <div>
            <%
            let win20 = math.win;
            let lose20 = math.matchData - win20;
            %>
            <div>
              최근 <%=math.matchData%>게임 결과
            </div>
            <div>
              <%=win20%>승 <%=lose20%>패
            </div>
          </div>
        </div>
      </header>
      <main>
        <div>
        <% for(let i=0;i<searchData.length;i++) { %>
          <% var myData = searchData[i].userinfo[searchData[i].myNum] %>
          <% if(myData.win === true) {%>
        <section class="game_Box win" >
          <% } else if (myData.win === false) { %>
        <section class="game_Box lose">
          <% } %>
          <div>
            <div><!--111111111111111111111111111-->
              <div class="champ_img">
                <img src="https://ddragon.leagueoflegends.com/cdn/12.18.1/img/champion/<%=myData.championName%>.png"/>
                <div><%=myData.champLevel%></div>
                <% var rune_img = myData.mainRune_kr.img; %>
                <img src="<%=rune_img%>">
              </div>
              <div class="info_box">
                <%
                var now = new Date();
                var endtime = searchData[i].gameEndTimestamp;
                var value = now - endtime;
                var hour = value / 1000 / 60 / 60;
                if (hour >= 24) {
                  time = Math.floor(hour / 24);
                  time = time + "일 전";
                } else if (24 > hour && hour >= 1) {
                  time = Math.floor(hour);
                  time = time + "시간 전";
                } else if (1 > hour) {
                  time = Math.floor(hour * 60);
                  time = time + "분 전";
                }
                
                var playtime = searchData[i].gameDuration;
                var min = Math.floor(playtime/60);
                var sec = playtime%60;
                %>
                <div>
                  <div><%=searchData[i].queueId_kr%></div>
                  <div><%=time%></div>
                  <div>(<%=min%>분<%=sec%>초)</div>
                </div>
                <%
                var multikill = myData.largestMultiKill;
                if(multikill === 5){
                  multikillText = '펜타킬'
                } else if (multikill === 4){
                  multikillText = '쿼드라킬'
                } else if (multikill === 3){
                  multikillText = '트리플킬'
                } else if (multikill === 2){
                  multikillText = '더블킬'
                } else if (multikill === 1){
                  multikillText = ''
                }
                %>
                <div>
                  <div><%=myData.kills%> / <%=myData.deaths%> / <%=myData.assists%></div>
                  <% if(multikill > 1){ %>
                  <div><%=multikillText%></div>
                  <% } %>
                </div>
              </div>
            </div><!--111111111111111111111111111-->
            <div><!--22222222222222222222-->
              <div class="spell_box">
                <%
                var spell1_img = myData.summoner1Id_kr.img;
                var spell2_img = myData.summoner2Id_kr.img;
                %>
                <img src="<%=spell1_img%>">
                <img src="<%=spell2_img%>">
              </div>
              <div class="item_box">
                <div>
                  <% for(let j=0;j<6;j++) { %>
                    <img src="http://ddragon.leagueoflegends.com/cdn/12.19.1/img/item/<%=myData.item[j]%>.png" onerror="this.style.display='none'"/>
                  <%} %>
                </div>
              </div>
            </div><!--22222222222222222222-->
            <div><!--33333333333333333333333333-->
              <div class="kda_box">
                <%
                var kda = (myData.kills+myData.assists)/myData.deaths;
                var kda2 = kda.toFixed(1);
                %>
                <div>평점 : <%=kda2%></div>
              </div>
              <div class="info_box2">
                <%
                var tdp = myData.teamDamagePercentage;
                var tdp2 = (Math.floor(tdp*1000))/10;
                var deal = myData.totalDamageDealtToChampions;
                var cs = myData.csJg + myData.csLine;
                var gold = myData.gold;
                %>
                <div>
                  <div>Deal : <%=deal%> (<%=tdp2%>%)</div>
                  <div>cs : <%=cs%></div>
                  <div>Gold : <%=gold%></div>
                </div>
              </div>
            </div><!--33333333333333333333333333-->
          </div>
        </section>
        <%} %>
        </div>
      </main>
    </div>
    <script>
      function getvalue() {
        var text = document.getElementById("name").value;
        var url = "/summoner/" + text;
        return url;
      }
    </script>
  </body>
</html>
