<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>main</title>
  </head>
  <body>
    <div id="root">
      <header>
        <form>
          <input type="text" placeholder="소환사명" id="name" />
          <input
            type="button"
            value="검색"
            onclick="document.location.href=getvalue()"
          />
        </form>
        <%
        let Name = league[0].summonerName;
        let win = 0;
        let lose = 0;
        for(let i=0;i<league.length;i++){
          win =+ league[i].wins
          lose =+ league[i].losses 
        }
        %>
        <%=Name%><%=league[0].tier%> <%=league[0].rank%> <%=win%>승 <%=lose%>패
      </header>
      <main>
        <% for(let i=0;i<searchData.length;i++) { %>
          <% if(searchData[i].userinfo[searchData[i].myNum].win === true) {%>
        <section class="searchBox" style="background-color: skyblue">
          <% } else if (searchData[i].userinfo[searchData[i].myNum].win === false) { %>
        <section class="searchBox" style="background-color: salmon">
          <% } %>
          <div>
            <img src="https://ddragon.leagueoflegends.com/cdn/12.18.1/img/champion/<%=searchData[i].userinfo[searchData[i].myNum].championName%>.png"/>
            <%
            var user = searchData[i].userinfo[searchData[i].myNum]
            var kda = (user.kills+user.assists)/user.deaths;
            var kda2 = kda.toFixed(2);
            var cs = user.csJg + user.csLine
            %>
            <div>
              <div><%=user.kills%> / <%=user.deaths%> / <%=user.assists%></div>
              <div><%=kda2%> cs : <%=cs%></div>
            </div>
            <div>
              <div>
                <%
                var now = new Date();
                var endtime = searchData[i].gameEndTimestamp;
                var value = now - endtime;
                var hour = value / 1000 / 60 / 60;
                var time = Math.floor(hour);
                var playtime = searchData[i].gameDuration;
                var min = Math.floor(playtime/60);
                var sec = playtime%60;
                %>
                <%=time%>시간 전
                (<%=min%>분<%=sec%>초)
              </div>
              <div class="spellbox">
                <%
                var spell1 = searchData[i].userinfo[searchData[i].myNum].summoner1Id
                var spell2 = searchData[i].userinfo[searchData[i].myNum].summoner2Id
                %>
                <%=spell1%>,<%=spell2%>
              </div>
              <div class="itembox">
                <% for(let j=0;j<6;j++) { %>
                <img src="http://ddragon.leagueoflegends.com/cdn/12.19.1/img/item/<%=searchData[i].userinfo[searchData[i].myNum].item[j]%>.png"/>
                <%} %>
              </div>
              <div>
                <%
                var tdp = searchData[i].userinfo[searchData[i].myNum].teamDamagePercentage
                var tdp2 = Math.floor(tdp*1000);
                var tdp3 = tdp2/10
                %>
                Deal : <%=searchData[i].userinfo[searchData[i].myNum].totalDamageDealtToChampions%>
                (<%=tdp3%>%)
              </div>
            </div>
          </div>
        </section>
        <%} %>
      </main>
    </div>
    <script>
      function getvalue() {
        var text = document.getElementById("name").value;
        var url = "/summoner/" + text;
        return url;
      }
    </script>
  </body>
</html>
