<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/search.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title>main</title>
  </head>
  <body>
    <div id="root">
      <header>
        <form>
          <input type="text" placeholder="소환사명" id="name" />
          <input
            type="button"
            value="검색"
            onclick="document.location.href=getvalue()"
          />
        </form>
        <%
        let Name = league[0].summonerName;
        let win = 0;
        let lose = 0;
        for(let i=0;i<league.length;i++){
          win =+ league[i].wins
          lose =+ league[i].losses 
        }
        %>
        <%=Name%><%=league[0].tier%> <%=league[0].rank%> <%=win%>승 <%=lose%>패
      </header>
      <main>
        <div>
        <% for(let i=0;i<searchData.length;i++) { %>
          <% var myData = searchData[i].userinfo[searchData[i].myNum] %>
          <% if(myData.win === true) {%>
        <section class="searchBox" style="background-color: skyblue">
          <% } else if (myData.win === false) { %>
        <section class="searchBox" style="background-color: salmon">
          <% } %>
          <div>
            <div class="champ_img">
              <img src="https://ddragon.leagueoflegends.com/cdn/12.18.1/img/champion/<%=myData.championName%>.png"/>
              <div><%=myData.champLevel%></div>
              <% var rune_img = myData.mainRune_kr.img; %>
              <img src="<%=rune_img%>">
            </div>
            <%
            var kda = (myData.kills+myData.assists)/myData.deaths;
            var kda2 = kda.toFixed(2);
            var cs = myData.csJg + myData.csLine
            %>
            <div>
              <div><%=myData.kills%> / <%=myData.deaths%> / <%=myData.assists%></div>
              <div>평점 : <%=kda2%></div>
              <div>cs : <%=cs%></div>
            </div>
            <div>
              <div>
                <%=searchData[i].queueId_kr%>
              </div>
              <div>
                <%
                var now = new Date();
                var endtime = searchData[i].gameEndTimestamp;
                var value = now - endtime;
                var hour = value / 1000 / 60 / 60;
                if (hour >= 24) {
                  time = Math.floor(hour / 24);
                  time = time + "일 전";
                } else if (24 > hour && hour >= 1) {
                  time = Math.floor(hour);
                  time = time + "시간 전";
                } else if (1 > hour) {
                  time = Math.floor(hour * 60);
                  time = time + "분 전";
                }
                
                var playtime = searchData[i].gameDuration;
                var min = Math.floor(playtime/60);
                var sec = playtime%60;
                %>
                <%=time%>
                (<%=min%>분<%=sec%>초)
              </div>
              <div>
                <div class="spellbox">
                <%
                var spell1_img = myData.summoner1Id_kr.img;
                var spell2_img = myData.summoner2Id_kr.img;
                %>
                <img src="<%=spell1_img%>">
                <img src="<%=spell2_img%>">
              </div>
              <div class="itembox">
                <% for(let j=0;j<6;j++) { %>
                  <div>
                    <img src="http://ddragon.leagueoflegends.com/cdn/12.19.1/img/item/<%=myData.item[j]%>.png" onerror="this.style.display='none'"/>
                  </div>
                  <%} %>
                </div>
              </div>
              <div>
                <%
                var tdp = myData.teamDamagePercentage
                var tdp2 = Math.floor(tdp*1000);
                var tdp3 = tdp2/10
                %>
                Deal : <%=myData.totalDamageDealtToChampions%>
                (<%=tdp3%>%)
              </div>
            </div>
          </div>
        </section>
        <%} %>
        </div>
      </main>
    </div>
    <script>
      function getvalue() {
        var text = document.getElementById("name").value;
        var url = "/summoner/" + text;
        return url;
      }
    </script>
  </body>
</html>
